*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

header{
    border-bottom: 1px solid #D9DFE8;
}

.wrapper {
    height: 55vh;
    padding: 25px 25px 25px 25px;
    background: #1717cf;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    border-radius: 150px;
}

.no-margin{
    margin-bottom: 0px;
}

.coral-bg{
    background-color: coral;
    color: #1717cf;
    margin-top: 0;
}

.portrait {
    font-size: 15px;
    line-height: 10px;
    text-align: justify;
    font-weight: bold;
    background: url(/images/PaulFresnel-image-linkedIn.jpeg) fixed center no-repeat;
    background-size: contain;
}

/* This part is important for the feature itself */
.portrait {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff2c;
}

.margin-bottom{
    margin-bottom: 8px;
    margin-top: 8px;
}

.unfinished{
    margin-bottom: 10px;
}

.coral-color{
    color: #1717cf;
    font-size: 5rem;
}

.list{
    list-style-type: style type circle;
    font-size: 2vw;
}

.background-nuanced{
    background-color: #1717cf;
    color: aliceblue;
    
}
.diagonal-split-background {
    color: #D9DFE8;
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(65deg, #1717cf 25%,  #013A6B 50%, #ffffff 50.3%, #013A6B 50.4%, #1717cf9c 75%, coral 90%, coral 100%);
}

#about{
    background-color: coral;
    
}

.hello{
    color: coral;
    font-weight:  500;
    font-size: 8rem;
}

.margined-sides{
    padding: 5vw 10vw 5vw 15vw;
}
.margined-sides-less {
    padding: 2vw 5vw 2vw 5vw;
}

.textual-paragraph{
    font-size: 3rem;
}

.space-left-small{
    margin-top: 1vw;
    margin-left: 2vw;
}
.space-left{
    margin-top: 1vw;
    margin-left: 4vw;
}

.space-left-plus{
    margin-top: 1vw;
    margin-left: 6vw;
}

@media (min-width:1367px){
header {
    
    background-color:#1717cf;
    width: 100%;
    color: #EDF2F4;
    position:fixed;
    left: 0;
    right:0;
    padding-bottom: 5px;
    padding-top: 5px;
    background-image: url(./images/wave.svg);
    box-sizing: border-box;
}



body{
    margin:0;
    scroll-behavior: smooth;
}

.nav-links  a{
    color: white;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75px;
    margin-left: 10vw;
}

.margin{
    margin-right: 10vw;
    display: flex;
}

.navlink {
    list-style-type: none;
    margin-right: 15px;
    font-size: 1.15rem;
    cursor: pointer;
    width:100px;
}

h1{
    align-items: left;
    margin-right:30vw;
    width:450px;
}

.main > button {
    background-color: #E00034;
    color:#EDF2F4;
    padding: 25px 50px 25px 50px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:650px;
    background-image: url(./images/dynamic-wang-irn9H9-Kfq4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
        color:#EDF2F4
}

h2{
    font-size: 4rem;
    margin-bottom: 0;
    background-color: #D9DFE8;
    border: 2px solid #EF233C;
    padding:15px 35px 15px 35px;
    margin-bottom: 50px;
    border-radius: 50px;    
    color: #1717cf
}

.main > p {
    font-size: 1.5rem;
}

.projects {
    background-color: #D9DFE8;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px 150px 25px 150px;
    border-left: 1px black solid;    
    border-right: 1px black solid; 
}

.project-link {
    padding:10px 25px 10px 25px;
    background-color: coral;
    border-radius: 25px;
    color:#D9DFE8;
    margin-bottom: 15px;
    font-size: 1.1rem;
    border: #1717cf 2px solid;
    text-decoration: none;
    font-weight: bold;
    
}

.project-link:hover{
    background-color: #1717cf;
    color: #D9DFE8;
    transform:scale(1.2);
    border: 1px solid coral;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: left;
    width:250px;
    justify-content: space-evenly;
    border:2.5px #1717cf solid;
    border-radius: 55px;
    padding:15px;
    height: auto;
    min-height: 350px;
    margin-bottom: 15px;
    transition: transform 0.5s;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 25px;
}


.card:hover{
    transform: scale(1.15);
    border: 3px solid #1717cf;
    background-color: #EDF2F4;
}

.background-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height:150px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px black solid;
}

h3{
    background-color: #D9DFE8;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 25px;
}

.form{
    background-color: #8D99AE;
    left: 0;
    right:0;
    box-sizing: border-box;
    padding-top: 15px;
    height:70px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 15px;
    width: 100%;

}

.form label {
    margin-right: 10px;
    font-size: 1.3rem;
    color:#540D6E;
    font-weight: bold;
}

.form input {
    height:25px;
    margin-right: 55px;
    
}

.form button {
    background-color: #E00034;
    padding: 11px 35px 11px 35px;
    font-size: 1.5rem;
    color:white;
    font-weight: bold;
    margin-left: 25px;
    border-radius: 35px;
    border: 2px #D9DFE8 solid;
}

.form button:hover {
    background-color: #EDF2F4;
    border: 2px #1717cf solid;
    color:#2B2D42
}

h4{
    font-size: 1.25rem;
    margin-bottom: 15px;
}



footer{
    background-color: #1717cf;
    color:#D9DFE8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    list-style: none;
    margin-right: 15px;
}

.footer-nav {
    display: flex;
}

.icon-footer{
    margin-right: 5px;
}
.card > ul{
    margin: 8px 3px 8px 3px;
}


li:hover {
    cursor: pointer;
}

.main h2 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid coral;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 62%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: coral;
    }
}

.wrapper{
    height: auto;
}




.bg1 {
    background-image: url(./images/sum\ game.jpg);
    background-size: cover;
    border: 1px black solid;
}

.bg2 {
    background-image: url(./images/website.png);
    background-size: cover;
        border: 1px black solid;
}

.bg3 {
    background-image: url(./images/website2.png);
    background-size: cover;
        border: 1px black solid;
}

.bg4 {
    background-image: url(./images/battle-clash.png);
    background-size: cover;
        border: 1px black solid;
}


.bg5{
    background-image: url(./images/calculator.png);
    background-size: cover;
        border: 1px black solid;
   }

   .bg6 {
       background-image: url(./images/to-do-list-website.png);
    background-size: cover;
        border: 1px black solid;
   }

   .bg7 {
       background-image: url(./images/sleever-frontpage.png);
    background-size: cover;
        border: 1px black solid;
   }
   .bg8 {
       background-image: url(./images/skillroad_project.png);
       background-size: cover;
        border: 1px black solid;
   }
   .bg9 {
       background-image: url(./images/reviewGPT.png);
       background-size: cover;
       background-size: center;
       border: 1px black solid;
   }
   .bg10 {
       background-image: url(./images/football-worldcujp-app.png);
       background-size: cover;
       background-size: center;
       border: 1px black solid;
   }
   .bg11 {
       background-image: url(./images/ECDSA_Node_Cryptography.png);
       background-size: cover;
       background-size: center;
       border: 1px black solid;
   }
   #copyright{
    font-size: 12px;
   }
   #text-copyright{
    font-size: 12px;
    margin-right: 15px;
   }
   i{
    margin: 15px 0px 30px 0px;
   }
   .spaced{
    margin: 8px;
   }
}

@media  (min-width: 1016px) and (max-width:1366px){

    .main h2 {
            overflow: hidden;
            color: #1717cf;
            /* Ensures the content is not revealed until the animation */
            border-right: .15em solid coral;
            /* The typwriter cursor */
            white-space: nowrap;
            /* Keeps the content on a single line */
            margin: 0 auto;
            /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em;
            /* Adjust as needed */
            animation:
                typing 3.5s steps(40, end),
                blink-caret .75s step-end infinite;
        }
    
        /* The typing effect */
        @keyframes typing {
            from {
                width: 0
            }
    
            to {
                width: 85%
            }
        }
    
        /* The typewriter cursor effect */
        @keyframes blink-caret {
    
            from,
            to {
                border-color: transparent
            }
    
            50% {
                border-color: coral;
            }
        }



    header {
            background-color: #1717cf;
            color: #EDF2F4;
            position: fixed;
            padding-bottom: 5px;
            padding-top: 5px;
            width:100%;
        }
        header a{
            text-decoration: none;
            color: #D9DFE8;
        }

        
        .portrait {
            height: 450px;
            font-size: 0.6rem;
            margin: 10px 30px 10px 30px;
            color: coral;
        }
        .wrapper{
            place-items: top;
            width: 73vw;
            height: 600px;
            
        }
    i {
         margin: 15px 0px 25px 0px;
       }

   .spaced {
       margin: 8px;
   }
        

    .flex {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width:100%;
    }
    .logo {
        width: 75px;
        margin-left: 10vw;
    }
        .margin {
            display: flex;
            margin-right: 10vw;
        }
    
        .navlink {
            list-style-type: none;
            margin-right: 15px;
            font-size: 1.15rem;
            cursor: pointer;
        }
    
        h1 {
            margin-right:15vw;
        }
    
        .main>button {
            background-color: coral;
            color: #EDF2F4;
            padding: 25px 50px 25px 50px;
        }
    
        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 650px;
            background-image: url(./images/dynamic-wang-irn9H9-Kfq4-unsplash.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            color: #EDF2F4
        }
    
        h2 {
            font-size: 3rem;
            margin-bottom: 0;
            background-color: #D9DFE8;
            border: 2px solid #EF233C;
            padding: 15px 35px 15px 35px;
            margin-bottom: 50px;
            border-radius: 50px;
            color: #1717cf
        }
    
        .main>p {
            font-size: 1.5rem;
        }
    
        .projects {
            background-color: #D9DFE8;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 25px 10vw 25px 10vw;
            border-left: 1px black solid;
            border-right: 1px black solid;
        }
    
        .project-link {
            padding: 10px 25px 10px 25px;
            background-color: coral;
            border-radius: 25px;
            color: #EDF2F4;
            margin-bottom: 15px;
            font-size: 1.1rem;
            border: #1717cf 2px solid;
            text-decoration: none;
            font-weight: bold;
    
        }
    
        .project-link:hover {
            background-color: #1717cf;
            transform: scale(1.2);
            color: #D9DFE8;
            border: 1px coral solid;
        }
    
        .card {
            display: flex;
            flex-direction: column;
            align-items: left;
            width: 250px;
            justify-content: space-evenly;
            border: 2.5px #1717cf solid;
            border-radius: 55px;
            padding: 15px;
            min-height: 350px;
            height: auto;
            margin-bottom: 15px;
            transition: transform 0.5s;
            margin-right: 15px;
            margin-left: 15px;
            padding-left: 35px;
            padding-right: 35px;
            margin-bottom: 25px;
        }
    
    
        .card:hover {
            transform: scale(1.15);
            border: 3px solid #1717cf;
            background-color: #EDF2F4;
        }
    
        .background-image {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 150px;
            border-radius: 25px;
            background-repeat: no-repeat;
            background-size: 100%;
            border: 1px #1717cf solid;
        }
    
        
        h3 {
            background-color: #D9DFE8;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            padding-top: 25px;
        }
    
       
    
        h4 {
            font-size: 1.25rem;
            margin-bottom: 15px;
        }
    
        input:focus {
            background-color: #10b85b;
            cursor: pointer;
            font-size: 1.05rem;
        }
    
        footer {
            background-color: #1717cf;
            display: flex;
            color: #D9DFE8;
            justify-content: space-between;
            align-items: center;
        }
    
        .footer-link {
            list-style: none;
            margin-right: 15px;
        }
    
        .footer-nav {
            display: flex;
        }
    
        .icon-footer {
            margin-right: 5px;
        }

        .spaced{
           margin: 8px
        }

        .card > u {
            margin-bottom: 15px;
        }
    
        li:hover {
            cursor: pointer;
        }
         .bg1 {
             background-image: url(./images/sum\ game.jpg);
            border: 1px #1717cf solid;
            background-size: cover;
         }  
         .bg2 {
             background-image: url(./images/website.png);
            border: 1px #1717cf solid;
            background-size: cover;
         }  
         .bg3 {
             background-image: url(./images/website2.png);
            background-size: cover;
             border: 1px #1717cf solid
         }  
         .bg4 {
             background-image: url(./images/battle-clash.png);
             border: 1px #1717cf solid;
            background-size: cover;
         }

         .bg5 {
             background-image: url(./images/calculator.png);
             border: 1px #1717cf solid;
            background-size: cover;
         }
         .bg6 {
             background-image: url(./images/to-do-list-website.png);
             border: 1px #1717cf solid;
             background-size: cover;
         }
          .bg7 {
              background-image: url(./images/sleever-frontpage.png);
              border: 1px #1717cf solid;
              background-size: cover;
          }
         
        .bg8 {
            background-image: url(./images/skillroad_project.png);
            border: 1px #1717cf solid;
            background-size: cover;
           
        }
          .bg9 {
              background-image: url(./images/reviewGPT.png);
              border: 1px #1717cf solid;  
            background-size: cover;
          }
         .bg10 {
             background-image: url(./images/football-worldcujp-app.png);
             border: 1px #1717cf solid;
             background-size: cover;
         }
         .bg11 {
             background-image: url(./images/ECDSA_Node_Cryptography.png);
             border: 1px #1717cf solid;
             background-size: cover;
         }
           #copyright{
            font-size: 12px;
           }
           #text-copyright{
            font-size: 12px;
            margin-right: 15px;
           }
}

@media (max-width:1015px) {
    header {
            background-color: #1717cf;
            color: #EDF2F4;
            position:relative;
            padding-bottom: 5px;
            padding-top: 5px;
            height: 200px;
        }

        header a{
            font-size: 2.3vw;
            margin-right: 35px;
            text-decoration: none;
        }
        h3{
            text-align: center;
        }
                i {
                    margin: 15px 0px 25px 0px;
                }
        
        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
       }
       .logo {
           width: 15vw;
           margin-left: 3vw;
           margin-right: 10px;;
       }
           .margin {
               display: flex;
               margin-right: 3px;
           }
       
           .navlink {
               list-style-type: none;
               margin-right: 5px;
               font-size: 1rem;
               cursor: pointer;
           }
       
           h1 {
               margin-right:3vw;
               font-size: 4.5vw;
           }
       
           .main>button {
               background-color: #E00034;
               color: #EDF2F4;
               padding: 25px 50px 25px 50px;
           }
       
           .main {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               height: 500px;
               background-image: url(./images/dynamic-wang-irn9H9-Kfq4-unsplash.jpg);
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               color: #EDF2F4
           }
       
           h2 {
               font-size: 4.4vw;
               margin-bottom: 0;
               background-color: #D9DFE8;
               border: 2px solid #1717cf;
               padding: 15px 20px 15px 20px;
               margin-bottom: 50px;
               border-radius: 50px;
               color: #1717cf;
               text-align: center;
           }
       
           .main>p {
               font-size: 1.5rem;
           }
       
           .projects {
               background-color: #D9DFE8;
               display: flex;
               justify-content: space-around;
               flex-wrap: wrap;
               padding: 25px 10vw 25px 10vw;
               border-left: 1px black solid;
               border-right: 1px black solid;
           }

           #projects{
            font-size: 3rem;
            padding-bottom: 40px;
            border-bottom: 0.1px #1717cf solid;
            text-align: center;
           }
       
           .project-link {
               padding: 10px 20px 10px 20px;
               background-color: coral;
               border-radius: 25px;
               color: #1717cf;
               margin-bottom: 15px;
               font-size: 3rem;
               border: #1717cf 2px solid;
               text-decoration: none;
               font-weight: bold;
               text-align: center;
       
           }
       
           .project-link:hover {
               background-color: #1717cf;
               color: #D9DFE8;
               transform: scale(1.2);
               border: 1px coral solid;
           }
       
           .card {
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 60vw;
               justify-content: space-evenly;
               border: 2.5px #1717cf solid;
               border-radius: 45px;
               padding: 15px;
               min-height: 650px;
               height: auto;
               transition: transform 0.5s;
               margin-right: 15px;
               margin-left: 15px;
               padding-left: 35px;
               padding-right: 35px;
               margin-bottom: 55px;
               margin-top: 55px;
           }

           .card > h4{
            font-size: 2.25rem;
            text-align: center;
            color: #1717cf;
           }
           .card i {
            color: #1717cf;
            font-size: 2rem;
            margin-bottom: 45px;
            margin-top: 25px;
           }
           .card > i {
            font-size: 2rem;
           }
           .card > p {
            font-size: 1.5rem;
            text-align: center;
            margin: 20px 40px 20px 40px;
           }
           .card > ul{
            font-size: 1.5rem;
            margin: 20px 40px 20px 40px;
           }
       
       
           .card:hover {
               transform: scale(1.1);
               border: 3px solid #1717cf;
               background-color: #EDF2F4;
           }
       
           .background-image {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 20px;
               display: flex;
               justify-content: center;
               width:35vw;
               height: 300px;
               align-items: flex-end;
               border-radius: 25px;
               background-repeat: no-repeat;
               background-size: 100%;
               margin: 20px 0px 15px 0px;
           }
       
           
       
           h3 {
               background-color: #D9DFE8;
               color: #1717cf;
               text-decoration: underline;
               text-underline-offset: 15px;
               width: 100%;
               font-weight: bold;
               display: flex;
               justify-content: center;
               font-size: 2rem;
               padding-top: 25px;
           } 

           .nav-links a{
            color: #D9DFE8;
           }

           
       
          
       
           h4 {
               font-size: 1.25rem;
               margin-bottom: 15px;
           }
       
          
       
           footer {
               background-color: #1717cf;
               color: #D9DFE8;
               display: flex;
               font-size: 2rem;
               justify-content: space-around;
               align-items: center;
           }
       
           .footer-link {
               list-style: none;
               margin-right: 2.5vw;
           }
       
           .footer-nav {
               display: flex;
           }
       
           .icon-footer {
               margin-right: 0.5vw;
           }

           .spaced{
            margin: 8px;
           }
       
           li:hover {
               cursor: pointer;
           }
           
           #copyright{
            font-size: 12px;
            display: none;
           }
          
           #text-copyright{
            display: none;
            font-size: 12px;
            margin-right: 15px;
           }

           .margin-top{
            margin-top: 25px;
           }

          .main h2 {
              overflow: hidden;
              font-weight:bolder;
              /* Ensures the content is not revealed until the animation */
              border-right: .15em solid coral;
              /* The typwriter cursor */
              white-space: nowrap;
              /* Keeps the content on a single line */
              margin: 0 auto;
              /* Gives that scrolling effect as the typing happens */
              letter-spacing: .15em;
              /* Adjust as needed */
              animation:
                  typing 3.5s steps(40, end),
                  blink-caret .75s step-end infinite;
          }
          /* The typing effect */
          @keyframes typing {
              from {
                  width: 0
              }
              to {
                  width: 75%
              }
          }
          /* The typewriter cursor effect */
          @keyframes blink-caret {
              from,
              to {
                  border-color: transparent
              }
              50% {
                  border-color: coral;
              }
          }

          .portrait{
            font-size: 1vw;
          }
          .wrapper {
            height: 750px;
              padding: 5vw;
          }
           
          

           .bg1 {
               background-image: url(./images/sum\ game.jpg);
                border:1px #1717cf solid;
                background-size: cover;
            }

           .bg2 {
            background-image: url(./images/website.png);
            border:1px #1717cf solid;
            background-size: cover;
        }
           .bg3 {
            background-image: url(./images/website2.png);
            background-size: cover;
            background-position: top;
            border:1px #1717cf solid
           }
           .bg4 {
            background-image: url(./images/battle-clash.png);
            border: 1px #1717cf solid;
            background-size: cover;
        }

           .bg5{
            background-image: url(./images/calculator.png);
            border: 1px #1717cf solid;
            background-size: cover;
           }      
        
           .bg6{
            background-image: url(./images/to-do-list-website.png);
            border: 1px #1717cf solid;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bg7 {
            background-image: url(./images/sleever-frontpage.png);
            border: 1px #1717cf solid;
            background-repeat: no-repeat;
            background-size: cover;
           }
        .bg8 {
            background-image: url(./images/skillroad_project.png);
            border: 1px #1717cf solid;
            background-repeat: no-repeat;
            background-size: cover;
    }
        .bg9 {
            background-image: url(./images/reviewGPT.png);
            border: 1px #1717cf solid;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
    }
        .bg10 {
            background-image: url(./images/football-worldcujp-app.png);
            border: 1px #1717cf solid;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .bg11 {
            background-image: url(./images/ECDSA_Node_Cryptography.png);
            border: 1px #1717cf solid;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

}